@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto;
}

.header {
background-color: #1f2937;
display: flex;
padding: 0px 200px 0px 200px;
justify-content: space-between;
align-items: center;
margin: 0;
}

.header h3 {
color: #f9faf8;
font-size: 24px;
}

.header a {
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

.hero {
display: flex;
background-color: #1f2937;
padding: 72px 200px 110px 200px;
align-items: stretch;
justify-content: space-between;
gap: 72px;
}

.hero h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;
}

.hero p {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0px;
}

.hero a {
color: #f9faf8;
}

.hero button {
    margin: 0;
}

.content {
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 8px;
}

.info {
display: flex;
flex-direction: column;
padding: 15px 250px 110px 250px;
align-items: center;
gap: 24px;
}

.info h2 {
font-size: 36px;
font-weight: extra-bold;
color: #1f2937;
}

.info img {
border-radius: 12px;
border: 3px solid #3882f6;
}

.examples {
display: flex;
gap: 48px;
align-items: center;
}

.pairs {
display: flex;
flex-direction: column;
justify-content: center;
}

.pairs p {
text-align: center;
color: #1f2937;
}

.quote {
display: flex;
background-color: #e5e7eb;
padding: 125px 250px 110px 250px;
color: #1f2937;
flex-direction: column;
}

blockquote {
font-size: 36px;
font-style: italic;
font-weight: 200;
margin: 0;
}

.quote p {
align-self: flex-end;
font-weight: bold;
font-size: 24px;
margin: 0;
}

.cta {
display: flex;
}

.footer {
display: flex;
}

button {
background-color: #3882f6;
max-width: 90px;
padding-top: 4px;
padding-bottom: 4px;
border-radius: 6px;
border: none;
}